{% extends "base.html" %}

{% block content %}
<main role="main">

  <div class="container">
    <h2>{{ url_for('chat:chatws', channel=channel) }}</h2>
    <div class="row">
      <div class="col-md-4">
        <h2>Connect</h2>
        <form action="">
          <label for="username">Username:</label>
          <input type="text" id="username" autocomplete="off"/>
          <label for="password">Password:</label>
          <input type="password" id="password" autocomplete="off"/>
          <label for="registration-key">Registration Key:</label>
          <input type="text" id="registration-key" autocomplete="off"/>
          <button class="btn btn-secondary" id="connectChat">Connect &raquo;</button>
        </form>
        <h2>Chatname</h2>
        <form action="">
          <label for="chatname">Chatname:</label>
          <input type="text" id="chatname" autocomplete="off"/>
          <button class="btn btn-secondary" id="setChatname">Set Chatname &raquo;</button>
        </form>
        <h2>Message</h2>
        <form action="">
          <label for="messageText">Message:</label>
          <input type="text" id="messageText" autocomplete="off"/>
          <button class="btn btn-secondary" id="sendMessage">Send &raquo;</button>
        </form>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-6">
        <h2>Response</h2>
        <ul id='messages'>
        </ul>
      </div>
    </div>

    <hr>

  </div>

</main>
{% endblock %}

{% block footer_js %}
{{ super() }}

<script>
    $(function() {
        var ws;
        Cookies.remove('Authorization');
        Cookies.remove('event-registration-key');
        $("#connectChat").click(function(event) {
            event.preventDefault()
            var username = $("#username").val()
            var password = $("#password").val()
            var registration_key = $("#registration-key").val()
            if (username != "") {
                const authorization = "Basic " + btoa(username+ ":" + password)
                Cookies.set('Authorization', authorization)
            }
            if (registration_key != "") {
                Cookies.set('event-registration-key', registration_key)
            }
            ws = new WebSocket("{{ url_for('chat:chatws', channel=channel) }}")
            ws.onopen = function (event) {
                console.log("ws open")
                if (username != "") {
                    data = { 'action': 'new_user_login', 'content': { 'username': username, 'password': password } }
                } else if (registration_key != "") {
                    data = { 'action': 'new_key_login', 'content': { 'key': registration_key } }
                } else {
                    data = { 'action': 'new_user', 'content': { } }
                }
                ws.send(JSON.stringify(data))
            }
            ws.onclose = function (event) {
                console.log("ws closed")
            }
            ws.onerror = function (event) {
                console.log("ws error")
            }
            ws.onmessage = function(event) {
                var messages = document.getElementById('messages')
                var message = document.createElement('li')
                var content = document.createTextNode(event.data)
                message.appendChild(content)
                messages.appendChild(message)
            }
        })
        $("#setChatname").click(function(event) {
            event.preventDefault()
            var chatname = $("#chatname").val()
            data = { 'action': 'set_chatname', 'content': { 'chatname': chatname } }
            ws.send(JSON.stringify(data))
        })
        $("#sendMessage").click(function(event) {
            event.preventDefault()
            var input = document.getElementById("messageText")
            data = { 'action': 'send_message', 'content': { 'message': input.value } }
            ws.send(JSON.stringify(data))
            input.value = ''
        })
    })
</script>
{% endblock %}