{% extends "base.html" %}

{% block content %}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">{{ url_for('homepage') }}</h1>
    </div>
  </div>

</main>
{% endblock %}
